/* Home_1 section */
.custom-carousel-height {
    height: 700px; 
    object-fit: cover; 
}
.slider {
    transform: translate(-50%, -50%);
    bottom: auto;
    right: auto;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.carousel-item-next .carousel-caption,
.carousel-item-prev .carousel-caption {
  transform: translate(-50%, -100%);
  opacity: 0;
}
.carousel-item-next.carousel-item-left .carousel-caption,
.carousel-item-prev.carousel-item-right .carousel-caption {
  transform: translate(-50%, 0);
  opacity: 1;
}
/* Home_2 section */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
#Home_2{
    padding: 60px 0 60px 0;
}
.Logo-1{
    width: 163.09px;
    height: 200px;
}
.Logo-2{
    width: 304.65px;
    height: 200px;
}
.Logo-3{
    width: 300.27px;
    height: 200px;
}
.stock-ticker ul {
    animation: scroll-left 15s linear infinite;
}
.ticker-list {
    animation: scroll-left 20s linear infinite;
}
.ticker-list:hover {
    animation-play-state: paused;
}
/* Home_3 section */
#Home_3{
    background-color: var(--lightest-color);
}
.ceylone{
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
}
.ceylone:hover {
    transform: translateY(-10px); 
}
/* Home_4 section */
.Bars{
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
}
.Bars:hover{
    transform: translateY(-10px); 
}
/* Home_5 section */
#Home_5{
    background-color: var(--secondary-color-rgb);
}
.contact{
    width: 80px; 
    height: 80px;
}
/* Home_7 section */
.bowl{
    transition: transform 0.5s ease, box-shadow 0.5s ease; 
}
.bowl:hover{
    transform: translateY(-10px); 
}
/* Home_8 section */
#Home_8{
    background-size: cover;
}
.review-container{
    background-size: cover;
}
.review-bg{
    max-width: none;
    width: 972px;
    height: 581.3px;
}
.padding80{
    padding: 80px;
    background: #210f0a;
}
blockquote span{
    margin-top: 20px;
    font-size: 14px;
}

/* Responsive adjustments for tablets */
/* Home_2 section */
@media (max-width: 768px) {
    .Logo-1 {
        width: 130px; 
        height: 160px; 
    }
    .Logo-2 {
        width: 243px;
        height: 160px;
    }
    .Logo-3 {
        width: 240px;
        height: 160px;
    }
}

/* Responsive adjustments for mobile devices */
/* Home_2 section */
@media (max-width: 576px) {
    .Logo-1 {
        width: 100px; 
        height: 120px;
    }
    .Logo-2 {
        width: 190px;
        height: 120px;
    }
    .Logo-3 {
        width: 188px;
        height: 120px;
    }
}